fastapi
uvicorn
yfinance
numpy==1.23.5
pandas-ta==0.3.14b
sqlalchemy
apscheduler
matplotlib
feedparser
beautifulsoup4 
selenium==4.11.0
pdfplumber
python-pptx
requests
python-dotenv
torch
accelerate
einops
transformers==4.51.0
websocket-client